        * {
            box-sizing: border-box;
        }

        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar,
        h1,
        button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor,
        .fa-coffee {
            font-size: 200px
        }

        /** 
            * ! ----------------- */

        /* Column container */
        .row {
            display: -ms-flexbox;
            /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap;
            /* IE10 */
            flex-wrap: wrap;
        }

        /* #sidebar-sol { */
        /* -ms-flex: 20px; */
        /* IE10 */
        /* flex: 5%; */
        /* background-color: #131212; */
        /* padding: 1px; */
        /* width: 5% 
            }*/


        /* Main column */
        .main {
            -ms-flex: 70%;
            /* IE10 */
            flex: 70%;
            background-color: white;
            padding: 20px;

            /* align-items: left; */
            /* justify-content: left; */
        }

        /* Create two unequal columns that sits next to each other */

        /* Sidebar/right column */
        .side {
            -ms-flex: 25%;
            /* IE10 */
            flex: 25%;
            background-color: #f3ecec;
            padding: 20px;

            /* flex-direction: row; */
            /* justify-content: right; */
            /* align-items: left; */

        }

        /* Fake image, just for this example */
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 700px) {
            .row {
                flex-direction: column;
            }
        }

        /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        @media screen and (max-width: 400px) {
            .navbar a {
                float: none;
                width: 100%;
            }
        }



        /* =========================================
        ===============================================
        ================================================= */
        /* 10 NİSAN 2022
        Hava durumu ve Seyir yardımcılarını gadgetlarının içine aldım. */

        /* HIZIL REİS */

        /* BASI - IBONUN CSS BOLUMU - BASI */

        /* IKILIDIV-PAYLSMVEYUTUB BASI */
        /* * {
                    box-sizing: border-box;
                } */

        /* Create two equal columns that floats next to each other */
        .column-ikilidiv-paylsmveyutub {
            float: left;
            width: 50%;
            padding: 4px;
            height: auto;
            /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row-ikilidiv-paylsmveyutub:after {
            content: "";
            display: table;
            clear: both;
        }

        /* ..... Blogi Paylasim Bası ..... */
        div.ibo-div-blogi-paylsm {
            display: inline;
            width: 130px;
            height: auto;
            margin-right: 10px;
            padding: auto;
            float: right;
        }

        ul.ibo-ul-blogi-paylsm {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        ul.ibo-ul-blogi-paylsm li {
            display: inline;
        }

        /* ......Blogi Paylasim Sonu...... */
        /* ......Muzvid Bası...... */
        #muzvid {
            overflow-x: auto;
            display: none;
        }

        #muzvid-button {
            background-color: transperant;
            border: none;
            border-radius: 8px;
            font: bold 16px arial, sans -serif;
            color: purple;
            padding: 4px;
            margin-left: 10px;
            width: 130px;
            float: left;
            text-align: center;
            text-decoration: none;
            display: block;
            cursor: pointer;
            transition-duration: 0.4s;
        }

        #muzvid-button:hover {
            background-color: yellowgreen;
            color: purple;
        }

        /* ......Muzvid Sonu...... */
        /* IKILIDIV-PAYLSMVEYUTUB SONU */

        /* GADGET ARKA PLAN BASI */
        .gadgt-arka {
            background-color: #e9d9a5;
            border: 1px solid #e9d9a5;
            border-radius: 12px;
            padding: 8px;
        }

        /* GADGET ARKA PLAN SONU */

        /* SIDEBAR LINK RENGI BASI */
        a.sidebar-link-rengi:link {
            color: #48689b;
            background-color: transparent;
            text-decoration: none;
        }

        a.sidebar-link-rengi:visited {
            color: #48689b;
            background-color: transparent;
            text-decoration: none;
        }

        a.sidebar-link-rengi:hover {
            color: #3ac426;
            background-color: transparent;
            text-decoration: none;
        }

        a.sidebar-link-rengi:active {
            color: #FF5600;
            background-color: transparent;
            text-decoration: none;
        }

        /* SIDEBAR LINK RENGI SONU */

        /* CONTACT FORM BASI */
        #ContactForm1 {
            display: inline;
            width: auto;
            height: auto;
            margin: 1px 4% 0 96%;
            padding: auto;
            float: right;
        }

        /* CONTACT FORM SONU */

        /* POPULAR POSTS HAZIR OZELLEŞTIRME KODU BASI */
        /* POPULAR POSTS HAZIR OZELLEŞTIRME KODU SONU */

        /* NAVIONICS BASI*/
        /* html,
                body, */
        .test_map_div {
            margin: 5px;
            width: 320px;
            height: 500px;
        }

        /*NAVIONICS SONU*/

        /* FOOTER OZELLESTIRMEM BASI */
        #footer {
            background-color: #333;
        }

        #topfooter {
            display: flex;
            justify-content: center;
            width: 400px;
            margin: 0 auto;
            color: #ffffff;
        }

        /* FOOTER OZELLESTIRMEM SONU */

        /* SONU - IBONUN CSS BOLUMU - SONU */


        /* ABAKUS BASI - IBONUN CSS BOLUMU - BASI */

        /* Yukarıda aynısı var contactformun. Bileşik cssde iptal.SırfAbakus için kullanırsan etkinleştir gene.:
        #ContactForm1 {
        padding-top:0; padding-bottom:0; padding-right:5%; padding-left:72%; } */

        /* Code Box BASI
        ----------------------------------------------- */
        .code {
            background: #f5f8fa;
            background-repeat: no-repeat;
            border: solid #5C7B90;
            border-width: 1px 1px 1px 20px;
            color: #000000;
            font: 13px 'Courier New', Courier, monospace;
            line-height: 16px;
            margin: 10px 0 10px 10px;
            max-height: 200px;
            min-height: 16px;
            overflow: auto;
            padding: 10px 10px 10px;
            width: 90%;
        }

        .code:hover {
            background: #FAFAFA;
            background-repeat: no-repeat;
        }

        .code {
            font-family: Consolas, "courier new";
            color: crimson;
            background-color: #f1f1f1;
            padding: 2px;
            font-size: 105%;
        }

        /* ABAKUS SONU - IBONUN CSS BOLUMU - SONU */